div.logo-container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  flex-wrap: wrap;
}

.logo {
  width: 90px;
  height: auto;
  border-radius: 10px;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  color: #2b1704;
  background-color: #f7f5ef;
}

*{
   font-family: "Poppins", Arial, sans-serif; 
}

header {
  background-color: #8b5e3c;
  color: #fff;
  padding: 20px;
  text-align: right;
}

nav {
  align-items: right;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: underline;
  margin: 0 15px;
}

nav a:hover {
  color: #ffe3b0;
  border-bottom: 2px solid #ffe3b0;
}

section {
  padding: 30px;
  text-align: center;
}

section h2 {
  color: #4a3a2a;
  margin-bottom: 15px;
}

section p {
  max-width: 800px;
  margin: 10px auto;
  line-height: 1.7;
  font-size: 16px;
}


table {
  border-collapse: collapse;
  width: 100%;
  background-color: #f7f5ef;
  border: none;
}

th {
  color:  #4a3a2a;
  padding: 10px;
}

form {
  background-color: #ffffff;
  border: 2px solid #5f8b54;
  padding: 20px;
  width: 60%;
  margin: auto;
  border-radius: 8px;
}


input, select, textarea {
  width: 90%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #8b5e3c;
  border-radius: 5px;
}

#sub {
  background-color: #8b5e3c;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

footer {
  background-color: #8b5e3c;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  font-size: 14px;
}


